body{
    background-color: #CBE9EA;
}
.caja{
    width: 100%;
    display: flex;
    
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #CBE9EA;
    background-color: #2CA8AC;
}

.logo{
  margin: 20px 20px 0;  
  width: 100px;
  display: inline-block;
  

}
.titulo{
    margin-top: 30px;
    margin-left: 50%;
    margin-bottom: 10px;
    text-align: left;
    font-size: 35px;
    display: inline-block;
    font-style: normal;


}
main{
    width: 100%;
    background: linear-gradient(#2CA8AC ,#CBE9EA);
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

.formulario{
    width: 70%;
    height: 550px;
    display: inline-block;
    
    
}
.contenido{
    width: 95%;
    height: 77%;
    margin-left:20px;
    margin-top: 20px;
}
.cuadro-texto{
    margin: 0 30px 0;
    width: 95%;
    height: 100%;
    border: none;
    border-radius: 10px;
    resize: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    background-color: #CBE9EA;
    
}
.botones{
    margin-left: 70px;
    margin-top: 30px;
}
.botones p{
    margin-left: 30px;
    font-size: 13px;
    margin-bottom: 5px;
}

.encriptar-boton{
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    background-color: #2CA8AC ;
    color: #CBE9EA;
    border: none;
    transition:  1s ;
    cursor:pointer ;
    margin-bottom: 20px;
}
.encriptar-boton:hover{
    width: 350px;
}

.desentriptar-boton{
    padding: 20px;
    border-radius: 15px;
    border: solid;
    border-color: #2CA8AC;
    width: 300px;
    background-color: #CBE9EA;
    margin-left: 20px;
    color: #2CA8AC;
    transition: 1s ;
    cursor:pointer ;
    margin-bottom: 20px;

}
.desentriptar-boton:hover{
    width: 350px;
}
    


.contenedor{
    margin-top: 10px;
    margin-left: 35px;
    width: 25%;
    height: 550px;
    border: solid;
    border-color: #04C4CB;
    border-radius: 25px;
    background-color: #CBE9EA;
    display: inline-block;
    text-align: center;
}
.llave{
    opacity: 50%;
    border-radius:10px ;
    margin-bottom: 10px;
}

.repuesta{
    width: 95%;
    height: 52%;
    margin-top: 20px;
    margin-left: 7px;
    margin-bottom: 10px;
    
    
}
.tex{
    font-weight: bold;
}

.repuesta textarea{
    width: 95%;
    height: 95%;
    resize: none;
    outline: none;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #CBE9EA;
    
    
}

.copiar-boton{
    padding: 20px;
    border-radius: 15px;
    width: 300px;
    background-color: #2CA8AC ;
    color: #CBE9EA;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}
.copiar-boton:hover{
    background-color:#CBE9EA ;
    color: #2CA8AC;
    border: solid;
    border-color:#2CA8AC ;
}

.imagen-oculta{
    opacity: 50%;
    width: 100px;
}
#oculto{
    display: none;
    
    
}
#visible{
    display:block;
    
}
footer{
    
    background-color: #CBE9EA;
    text-align: center;
    height: 50px;
}

@media screen and (max-width: 915px ){
    
   .logo{
    width: 150px;
   }
   .titulo{
    display: inline;
    margin: 10px 0 0 15px;
   }
   
   .formulario {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
   }
   .contenido{
    margin: 20px auto;
   }
   .cuadro-texto{
    margin: 0 auto;
   }
   .botones{
    margin: 0 auto;
    
   }
   .encriptar-boton{
    width: 45%;
    transition:  1s  ;
   }
   .encriptar-boton:hover{
     width: 300px;
       position: relative;
      background: #04C4CB;
   }
   .desentriptar-boton{
    width: 45%;
    transition:  1s  ;
    
   }
   .desentriptar-boton:hover{

       width: 300px;
      background: #f2fafa;
   }


   .contenedor{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 77%;
    height: 400px;
    
   }
   .repuesta textarea {
    font-size: 20px;
   }
   .c-ver{
    display: flex;
   }
   .llave{
    width: 50%;
    display: inline-block;
   }
   .c-tex{
    width: 40%;
    margin: 0 auto;
    display: inline-block;

   }
   .imagen-oculta{
    display: none;
   }
  
}

@media screen and (max-width: 450px ){
    .logo{
        width: 100px;
    }
    .titulo{
        font-size: 30px;
        margin: 10px 0 0 auto;
    }
    .encriptar-boton{
        
        width: 300px;
        margin: 10px  auto;
    }
    .desentriptar-boton{
        width: 300px;
        margin: 0 auto;
    }
    .contenedor{
        margin-top: 70px;
    }
    .llave{
        display: none;
    }
    .c-tex{
        width: 90%;
    }
    .copiar-boton{
        width: 80%;
    }
}